@import 'var/_Shoescolor.scss';
@import 'var/_size.scss';

body {
	.page-account { 
		width: 500px; 
		margin: 50px 100px;	
		#updateUser {
			input { 
				font-family: Georgia,"Times New Roman",Times,serif;
				background: $Lightgreen;
				border: 0;
				border-radius: 4px;
				font-size: 16px;
				margin: 0;
				outline: 0;
				padding: 15px;
				width: 100%;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				background: $Lightred;
				color: $White;  
				margin-bottom: 30px;
			}
			input[type="submit"] { 
				position: relative;
				display: block;
				padding: 19px 39px 18px 39px;
				color: #fff;
				margin: 0 auto;
				background: $Lightgreen;
				font-size: 18px;
				text-align: center;
				font-style: normal;
				width: 100%;
				border: 1px solid $Darkgreen;
				border-width: 1px 1px 3px;
				margin-bottom: 10px;
				cursor: pointer;
			}
			legend {
				padding: 15px 0;
				font-weight: bold;
				font-size: 17px;
				margin: auto;
				color: $Darkred;
			}
		}
		h4  {
			padding: 10px;
			color: red;
		}
	}

	.allFields {
		input {
			padding: 2px;
			font-size: 17px;
			border-radius: 3px; 
		}
		input[type="submit"] {
			background: $Lightgreen;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			cursor: pointer;
		}
	}
	.show-reg {
		padding: 5px;
		background: $Lightgreen;
		color: #fff;
		font-weight: bold;
		margin:10px 0;
		cursor: pointer;
	}
	.use-group-in {
		margin: 50px 0 10px 0;
		input {
			padding: 5px;
			margin: 10px 0 0 0;
			border-radius:3px; 
		}
		input[type="submit"] {
			background: $Lightgreen;
			color: $White;
			font-weight: bold;
			cursor: pointer;
		}
		label {
			margin:20px 0 0 0;
		}
	}
	.align {
		display: inline-block;
	}
	.wrap-contact-us {
		margin: 30px 0 0 0;
		#fly-inner {
			p {
				font-size: 17px;
			}
			label {
				font-weight: bold;
				margin: 5px 0;
			}
		}
	}
	.forum {
		width: 80%;
	}
	#horizont-center {
		width: $mediumwidth;
		margin: auto;
	}
	.stylcol {
		color: $White;
		background-color: $Lightgreen;
		border-width: 0px 0px 2px;
		border-color: $Darkgreen;
		border-style: solid;
		cursor: pointer;
	}

	.log-group-in {
		input {
			padding: 10px;
		}
		input[type="submit"] {
			background: $Lightgreen;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			border: 1px solid $Darkgreen;
			border-width: 1px 1px 3px;
			cursor: pointer;
		}
	}

	#forum-id {
		margin-bottom:30px; 

		p {
			margin: 2px 0;
			white-space: normal;
		}
		a {
			margin: 10px 0;
		}

		input[type="submit"] {
			background: $Lightgreen;
			color: $White;
			font-size: 12px;
			font-weight: bold;
			border: 1px solid $Darkgreen;
			border-width: 1px 1px 3px;
			cursor: pointer;  
			margin: 0 0 20px 0;
		}
		#sub-id {
			width: 672px;
			word-wrap: break-word;
			white-space: pre-line;
			p {
				font-weight: bold;
				color: red;
			}
		}
	}
	#reply-id {
		word-wrap: break-word;
		white-space: pre-line;
		.reply-name {
			padding:10px 0;
			width: 100%;
			margin: 10px 0; 
		}
		input[type="submit"] {
			width: 100%;
			padding: 10px;
			text-align: center;
			background: $Lightgreen;
			color: $White;
			font-size: 12px;
			font-weight: bold;
			border: 1px solid $Darkgreen;
			border-width: 1px 1px 3px;
			cursor: pointer;  
			margin: 0 0 20px 0;
		}
		label {
			margin: 10px 0;
			text-align: center;
			font-size: 17px;
			width: 100%;
		}
		.form-control {
			min-width: 600px;
			min-height: 250px;
		}
		.right {
			text-align: right;
		}	
	}
	#reply-view{
		word-wrap: break-word;
		white-space: pre-line;
	}
	#forum-user {
		text-align: center;
		margin: 50px 100px;
		width: 100%;
		p {
			margin: 20px 0;
			color: red;
			img {
				width: 200px;
				height: 200px; 
			}
		}
	}
	.search-group {
		input {
			padding: 5px;
		}
		.search-control {
			width: 240px;
		}
		input[type="submit"] {
			position:relative;
			right:4px; 
			padding-top: 8px;
			text-align: center;
			background: $Lightgreen;
			color: $White;
			font-size: 12px;
			font-weight: bold;
			border: 1px solid $Darkgreen;
			border-width: 1px 1px 3px;
			cursor: pointer;  
		}
	} 
	.header-banner {
		img {
			width: 90%;
			height: 90px;
			display: block;
			margin: 20px 0px 20px 10%;
		}
	}
	.cart-center {
		width: 60%;
		margin: 50px 100px;
	}
	#paypal-img {
		width: 200px;
		height: 100px;
	}
	#totalCart {
		float: right;
		h4 {
			padding:10px;
			margin: 10px;
			color: red; 
		}

		h2 {
			color: red;
			margin: 10px;
		}
	}

	.right {
		float: right;
	}

	#addWishlist{
		input[type="submit"] {
			padding: 7px;
			text-align: center;
			background: $Lightgreen;
			color: $White;
			font-size: 12px;
			font-weight: bold;
			border: 1px solid $Darkgreen;
			border-width: 1px 1px 3px;
			cursor: pointer;  
		}
	}
	.comment-page {
		padding: 1em;
		form {
			margin:0 0 18px;
			
			input {
				padding: 4px;
				line-height: 18px;
				display: inline-block;
				border: 1px solid #ccc;
				margin-bottom: 9px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				font-size: 13px;
				background-color: #fff;
				color: #555;
			}
			input[type="submit"] {
				padding: 7px;
				text-align: center;
				background: $Lightgreen;
				color: $White;
				font-size: 12px;
				font-weight: bold;
				border: 1px solid $Darkgreen;
				border-width: 1px 1px 3px;
				cursor: pointer;  
			}
			textarea {
				padding: 4px;
				line-height: 18px;
				display: inline-block;
				border: 1px solid #ccc;
				margin-bottom: 9px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				-webkit-border-radius: 3px;
				font-size: 13px;
				background-color: #fff;
				color: #555;
				width:100%;
			}
		}
	}
	#wrapper-comments {
		margin: 20px 0;
		#place-comments {
			word-wrap: break-word;
			white-space: pre-line;
			border-top:1px solid #000;
			border-bottom:1px solid #000;

			h2 {
				color:#2c83b1;
				padding: 10px;
			}
			p {
				font-size: 17px;
				color: #000;
			}
		}
	}
	
	.rating {
		unicode-bidi: bidi-override;
		direction: rtl;
		text-align: left;
	}

	.rating > span {
		display: inline-block;
		width: 1.1em; 
		font: 24px Georgia, serif;
		cursor: pointer; 
		color: $Darkgreen; 
		font-weight: bold;
	}

	.rating > span:hover:before,  
	.rating > span:hover ~ span:before {
		content: "\2605";
		position: absolute;
		color: gold;
	}



	
	.rating-star {
		unicode-bidi: bidi-override;
		direction: rtl;
		float: right;
	}

	.rating-star > span {
		display: inline-block;
		width: 1.1em; 
		font: 24px Georgia, serif;
		cursor: pointer; 
		color: $Darkgreen; 
		font-weight: bold;
	}

	.rating-star > span:hover:before,  
	.rating-star > span:hover ~ span:before {
		content: "\2605";
		position: absolute;
		color: gold;
	}
	#wrap-content-blog { 
		margin: auto;
		width: 80%;
		#place-comments {
			p:nth-child(1) {
				color: $Darkgreen;
				font-size: 23px;
			}
		}
	}
}

